body {
    background-color: cadetblue;
}

.content {
    background-color: white;
    width: 400px;
    margin-top: 100px;


}

label {
    display: block;
}

.title {
    font-size: 40px;
    color: cadetblue;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;

}

.user-input {
    width: 88%;
    margin: 0px 20px;
    border-radius: 5px;
    border: 1px solid cadetblue;
}

.checkbox-group {
    margin: 15px 20px
}

.checkbox-group span {
    color: cadetblue;
}

.register-btn {
    width: 95%;
    margin: 10px 6px;
    border: none;
    padding: 10px 15px;
    color: white;
    background-color: cadetblue;
    border-radius: 5px;

}

.footer-text {
    text-align: center;

    padding: 10px 20px;
}

.result {
    text-align: end;
    padding: 20px 0px;
    font-size: 20px;
    background-color: rgb(28, 53, 54);
    color: white;
    margin: 0px 10px;
}

.error {
    color: red;
    margin: 3px 20px;
}